.auth.theme-one .auto-form-wrapper {
    background: #ffffff;
    padding: 40px 40px 10px;
    border-radius: 4px;
    box-shadow: 0 -25px 37.7px 11.3px rgba(8, 143, 220, 0.07);
    font-size: 1em;
}

.auth.theme-one .auth-footer {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.auth.theme-one .auth-footer li {
    margin-right: 10px;
    line-height: 1;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.auth.theme-one .auth-footer li a {
    font-size: 13px;
    color: #495057;
}

.auth.theme-one .auto-form-wrapper .form-group .input-group .form-control {
    border: 1px solid #e5e5e5;
    border-right: none;
    border-radius: 6px 0 0 6px;
    color: #000;
}

.auth.theme-one .auto-form-wrapper .g-login {
    border: 1px solid #f2f2f2;
    padding: 13px;
    font-size: 12px;
    font-weight: 600;
    background: transparent;
}

.form-group label {
    font-size: 13px;
    line-height: 1;
    vertical-align: top;
    margin-bottom: 10px;
}

.text-small {
    font-size: .8em;
}

