/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: url(../images/loading.gif) center no-repeat #fff;
}

::-moz-selection {
    color: none;
    background: none;
}

::selection {
    color: none;
    background: none;
}

/* For Mozilla Firefox */
body::-moz-selection {
    color: none;
    background: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html {
    font-family: 'Rubik', sans-serif !important;
}

#front {
    background-color: #ffffff;
}

#owl-graph {
    position: absolute;
    top: 4%;
    width: 15vw;
    left: 5%;
}

#bulb-front {
    position: absolute;
    height: 48%;
    bottom: -8%;
    right: 5%;
}

#celeb {
    height: 100%;
    position: absolute;
    top: 40%;
    left: -10%;
    z-index: -1;
}

.head-area {
    position: absolute;
    float: left;
    left: 50%;
    top: 51%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: default;
}

.head-area h1 {
    font-size: 9.5vw;
    font-weight: bold;
    letter-spacing: 5px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-shadow: #545353 2px 4px 3px;
}

.head-area h4 {
    font-size: 2vw;
    font-weight: bold;
}

.head-area h3 {
    font-size: 1.5vw;
    color: #4d4545;
}

.choice-area {
    margin-top: 3%;
    font-size: 1.4vw;
}

#choice-qst {
    margin: 0 5px 0 0;
}

.choice-ans {
    font-size: 1.8vw;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline;
    color: #0a8a79;
}

.choice-ans:hover {
    color: #c3d71f;
}

/*=========== MENU ==============*/
#menu-hack {
    z-index: 9999;
    position: absolute;
    display : -webkit-inline-box;
    display : -ms-inline-flexbox;
    display : inline-flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    right: 0;
    margin: 3% 10%;
}

#menu-hack li a {
    /* margin: 0 15px 0 0; */
    background-color: #00b29a;
    color: #fff;
    padding: 10px 20px;
    -webkit-box-shadow: #857979a3 1px 1px 6px;
    box-shadow: #857979a3 1px 1px 6px;
}

#menu-hack li a:hover {
    background-color: #e85e53;
    text-decoration: none;
    border: none;
    -webkit-box-shadow: #897b7b21 1px 1px 3px;
    box-shadow: #897b7b21 1px 1px 3px;
}

/*===============================*/
.right-slide-x, .left-slide-x {
    max-width: 44%;
    background-color: green;
}

.sslide:nth-child(1) {
    margin-right: 100px;
}

.right-slide-view {
    background-color: #4CAF50;
    height: 100px;
    text-align: center;
}

.slider-wrapper {
    padding: 2.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slide-arrow {
    position: absolute;
    top: 35%;
    display: block;
    cursor: pointer;
    font-size: 3vw;
    z-index: 999;
}

.arrow-prev {
    left: -25px;
}

.arrow-next {
    right: -25px;
    ; }

/* the slides */
.right-slide-view {
    margin: 0 10px;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.slider-xx {
    padding: 0px;
}

.img-d {
    height: 20vw;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
}

.img-d img {
    height: 100%;
    width: auto;
}

/*==========COURSES SECTION==============*/
.list-courses .card {
    height: 360px;
    max-height: 378px;
}

.card:hover {
    -webkit-box-shadow: 3px 4px 10px #dedede;
    box-shadow: 3px 4px 10px #dedede;
    cursor: pointer;
}

.left-section-header {
    height: 60vh;
    width: 35%;
    background-color: #343a40;
    color: #fff;
    font-size: 3.2em;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 1.3em;
    padding: 5% 4%;
}

.list-courses {
    width: 100%;
    max-width: 60%;
    margin-left: 40px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000 !important;
    background-color: transparent;
    border-bottom: solid 4px #2c2929;
    border-radius: 0px;
}

a.nav-link {
    color: #191212
}

.list-courses .card-img-top {
    height: 150px;
}

ul#pills-tab {
    border-bottom: solid 0.5px #cccccc;
}

.col-md-xxc {
    margin-right: 2%;
    width: 30%;
}

.sm-icon {
    font-size: 12px;
}

.list-courses .card-title {
    padding: 0 0 5px 0;
    font-weight: 500;
    color: #383434;
    /*border-bottom: 1px solid #ddd;*/
    line-height: 1.2em;
    height: 40px;
    min-height: 40px;
    margin-bottom: 0;
}

.inf {
    font-size: 12px;
    color: #312f2f;
    padding: 5px 0 5px 0;
    height: 30px;
}

.course-ratings {
    padding: 5px 0 0 0;
    font-size: 20px;
}

.stars i {
    margin-right: 0px;
    color: #ffc107;
    padding: 0;
}

.add-to-wishlist i {
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.price-details {
    margin: 25px 0 0 0;
}

.was-price {
    color: #635c5c;
    font-size: 14px;
    padding: 2px 5px;
    text-decoration: line-through;
}

.is-price {
    color: #1c1a1a;
    font-size: 1em;
}

.details {
    background-color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

.enroll-btn {
    background-color: #EC5252;
    border: none;
    color: #fff !important;
    padding: 5px 15px;
    font-weight: 100;
    font-size: 1.1em;
    cursor: pointer;
    margin-left: 5px;
}

.enroll-btn:hover {
    text-decoration: none;
    background-color: #ad3c3c;
}

.enroll-btn:focus {
    outline: none;
}

.tooltip-content {
    padding: 0;
    background-color: transparent;
    border: none;
}

.tooltip-content .card {
    max-width: 300px;
    border-radius: 0px;
}

.tooltip-content .card-header {
    background-color: transparent;
    color: #4a4646;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1em;
    padding-bottom: 0px;
    border-bottom: none;
}

.tooltip-content .course-desc, .tooltip-content .course-guid-list {
    margin-top: 10px;
    color: #5f656d;
    font-size: 1em;
    letter-spacing: 0.5px;
    font-weight: 400;
    width: 100%;
    font-size: .9em;
}

.tooltip-content .course-type-bar {
    margin-top: -20px;
}

.course-guid-list {
    padding: 10px 20px;
}

.course-guid-list ol {
    list-style-type: circle;
    font-size: .85em !important;
}

.tooltipster-box {
    border: none !important;
    margin: 0 px !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.tooltipster-content {
    padding: 10px !important;
    margin: 0px !important;
}

/*=======================================*/
/*=======HORIZONTAL TESTINOMIALS ========*/
.horizontal-testinomial-list {
    margin-top: 20px;
}

.testinomial {
    padding: 10px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 10px #ddd;
    box-shadow: 1px 1px 10px #ddd;
    height: 140px;
    min-height: 140px;
}

.testinomial .img {
    width: 30%;
}

.testinomial .img img {
    margin: 8px 0 0 0;
    width : 100%;
    max-height: 92px;
    height: 92px;
    /* border-radius: 50%; */
}

.testinomial .info {
    width: 70%;
}

.testinomial .name {
    padding: 5px 10px;
}

.testinomial .comment {
    padding: 5px 10px;
    font-size: .85em;
    color: #423838;
}

/*=======================================*/
/*==============LMS DESIGN===============*/
.lms-details {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    padding: 0 0 0 15%;
}

.lms-img {
    height: 99vh;
    width: 46%;
}

#lms-design {
    height: 100%;
    width: 100%;
}

.lms-right-col {
    width: 50%;
    margin: 15% 2% 0 2%;
}

.lms-details h2 {
    font-size: 3em;
    text-align: left;
}

.lms-desc {
    margin-top: 15px;
    font-size: 1.1em;
    color: #534b4b;
    text-align: justify;
    width: 70%;
}

.lms-features {
    margin-top: 20px;
}

.lms-feature .sym {
    color: #5a5a5a;
    text-align: center;
    font-size: 2em;
    padding-bottom: 5px;
}

.lms-feature {
    -webkit-box-shadow: 1px 1px 10px #ddd;
    box-shadow: 1px 1px 10px #ddd;
    border: 1px solid #ddd;
    padding: 8px;
    margin-right: 20px;
}

.lms-feature .name {
    color: #141313;
    font-size: 1.2em;
    padding: 3px 15px;
}

/*=======================================*/
/*===========SUCCESS STORIES=============*/
.grid-item {
    width: 200px;
    // box-shadow: 1px 1px 3px #ddd;
    margin-bottom: 3px;
    padding: 0;
    cursor: pointer;
}

.grid-item:hover {
    -webkit-box-shadow: 5px 0px 20px #736a6a;
    box-shadow: 5px 0px 20px #736a6a;
}

.success-story:hover img {
    -webkit-filter: blur(5px);
    /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    z-index: 500;
}

.grid-item--width2 {
    width: 400px;
}

.success-story img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border: none;
}

.success-story .details {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #736a6a99;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    color: #fff;
    text-align: center;
    z-index: 501;
}

.success-story .details .name, .age {
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}

.success-story .details .content {
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
}

.success-story:hover .details {
    bottom: 0;
    height: 100%;
}

.wrap-center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.success-story-desc .header ,.team .header {
    background-color: #343a40;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 7% 10%;
}

.success-story-desc {
    margin-top: 15%;
}

.success-story-desc .desc, .team .desc {
    padding: 10% 10% 0 10%;
    font-size: 1.2em;
    color: #4d4545;
    text-align: left;
}

#success-stories {
    background-color: #f0f0f0;
    height: -webkit-fill-available;
}

.success-story-desc .desc-img img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*=======================================*/
/*===========MEET THE TEAM===============*/
.member {
    // border: 1px solid #ddd;
    text-align: center;
    padding: 20% 10%;
}

.member .img img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    -webkit-box-shadow: 6px 8px 16px #b0afaf;
    box-shadow: 6px 8px 16px #b0afaf;
}

.member .name {
    font-size: 1.5em;
    padding-top: 20px;
    text-shadow: 2px 1px 2px #dad2d2;
}

.member .designation {
    font-size: 0.99em;
    padding: 5px 0 20px 0;
    color: #6c6b6b;
}

.member .desc {
    text-align: center;
    max-width: 85%;
    margin: 0 auto;
    color: #615f5f;
    line-height: 1.43em;
}

.member .links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}

.member .links ul li {
    padding-right: 15px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}

.g {
    color: #CC3333;
}

.git {
    color: #333;
}

.ln {
    color: #0077b5;
}

.d {
    color: #ea4c89;
}

.team .head {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1px 1px 3px #878787;
    letter-spacing: 2px;
}

.team .img img {
    position: absolute;
    width: 120%;
    bottom: -25%;
    z-index: -999;
}

/*=======================================*/
.auth.theme-one .auto-form-wrapper {
    background: #ffffff;
    padding: 40px 40px 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 -25px 37.7px 11.3px rgba(8, 143, 220, 0.07);
    box-shadow: 0 -25px 37.7px 11.3px rgba(8, 143, 220, 0.07);
    font-size: 1em;
}

.auth.theme-one .auth-footer {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.auth.theme-one .auth-footer li {
    margin-right: 10px;
    line-height: 1;
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.auth.theme-one .auth-footer li a {
    font-size: 13px;
    color: #495057;
}

.auth.theme-one .auto-form-wrapper .form-group .input-group .form-control {
    border: 1px solid #e5e5e5;
    border-right: none;
    border-radius: 6px 0 0 6px;
    color: #000;
}

.auth.theme-one .auto-form-wrapper .g-login {
    border: 1px solid #f2f2f2;
    padding: 13px;
    font-size: 12px;
    font-weight: 600;
    background: transparent;
}

.form-group label {
    font-size: 13px;
    line-height: 1;
    vertical-align: top;
    margin-bottom: 10px;
}

.text-small {
    font-size: .8em;
}

.slick {
    width: 99.99%;
}

.slick-list {
    margin: 0 -5px;
}

.slick-slide>div {
    padding: 0 5px;
}

.next-btn {
    position: absolute;
    top: 46%;
    right: -20px;
}

.prev-btn {
    position: absolute;
    top: 46%;
    left: -20px;
    z-index: 1;
}

.n-btn {
    hight: 40px;
    width: 40px;
    background-color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 3px 10px #bebbbb;
    box-shadow: 1px 3px 10px #bebbbb;
    cursor: pointer;
}

i.far.fa-heart {
    color: #F44336;
}

i.fas.fa-sync-alt {
    color: #03A9F4;
}

i.fas.fa-shield-alt {
    color: #9C27B0;
}

i.fas.fa-chart-pie {
    color: #FF9800;
}

a#home-alt {
    margin: 0px 20px 0 0;
}

i.fab.fa-facebook.fb {
    color: #3b5998;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .head-area {
        position: relative;
        float: none;
        left: 0;
        top: 0;
        cursor: default;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        text-align: center;
        padding: 20px 10px;
    }

    .head-area h4 {
        text-align: left;
        padding: 0 10px;
        font-size: 1.1em;
    }

    .head-area h1 {
        text-align: center;
        font-size: 2.8em;
        margin: 10px 0;
        text-shadow: none;
        letter-spacing: 2px;
    }

    .head-area h3 {
        font-size: 1.02em;
        text-align: justify;
        padding: 0 15px;
        line-height: 1.2em;
    }

    .choice-area {
        text-align: left;
        padding: 10px 10px;
        font-size: 1.1em;
    }

    .choice-ans {
        font-size: 1.2em;
        line-height: 1.3em;
    }

    #menu-hack {
        z-index: 9999;
        position: absolute;
        float: right;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        right: 0;
        margin: 5% 5%;
    }

    #bulb-front {
        display: none;
    }

    #owl-graph {
        position: relative;
        width: 110px;
        margin: 20px 0 0 0;
    }

    .left-section-header {
        width: 100%;
        text-align: center;
        font-size: 2em;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 15% 0 15% 0;
    }

    .col-md-xxc {
        width: 98% !important;
    }

    .col-md-xxc .card .card-body {
        padding: 30px 30px !important;
    }

    .prev-btn {
        left: -5%;
    }

    .next-btn {
        right: -2%;
    }

    #menu-hack li a {
        background-color: #00b29a;
        color: #fff;
        padding: 8px 10px;
        margin-left: 15px;
        -webkit-box-shadow: #857979a3 1px 1px 6px;
        box-shadow: #857979a3 1px 1px 6px;
    }

    .lms-img {
        width: 100%;
        height: 40%;
    }

    .lms-details, .lms-right-col {
        width: 100%;
    }

    .lms-details {
        padding: 0;
    }

    .lms-desc {
        margin: 0;
        padding: 10px;
        width: 100%;
        line-height: 1.2em;
    }

    .lms-details h2 {
        font-size: 2.5em;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .lms-features {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 10px auto;
        text-align: center;
    }

    .lms-feature {
        width: 70px;
        margin-right: 10px;
    }

    .lms-feature .name {
        font-size: 1em;
        padding: 0;
    }

    .lms-feature .sym {
        font-size: 1.6em;
    }

    .testinomial {
        margin-bottom : 10px;
    }

    .testinomial .img {
        width: 30%;
    }

    .testinomial .img img {
        max-width: 100%;
    }

    .testinomial {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .testinomial .info {
        width: 70%;
        padding: 0 0 5px 0;
    }

    .testinomial .name {
        padding: 5px 10px;
    }

    .testinomial .comment {
        padding: 0px 5px;
        font-size: .85em;
        color: #423838;
    }

    .success-story-desc .header, .team .header {
        font-size: 2em;
        width: 100%;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 7% 10%;
    }

    .team .img img {
        position: relative;
        width: 100%;
        z-index: -999;
    }

    .member {
        border: 1px solid #ddd;
        margin: 0 0 10px 0;
    }

    .list-courses {
        width: 100%;
        max-width: 100%;
        margin-left: 20px;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .head-area {
        position: relative;
        float: none;
        left: 0;
        top: 0;
        cursor: default;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        text-align: center;
        padding: 20px 10px;
    }

    .head-area h4 {
        text-align: left;
        padding: 0 10px;
        font-size: 1.1em;
    }

    .head-area h1 {
        text-align: center;
        font-size: 2.8em;
        margin: 10px 0;
        text-shadow: none;
        letter-spacing: 2px;
    }

    .head-area h3 {
        font-size: 1.02em;
        text-align: justify;
        padding: 0 15px;
        line-height: 1.2em;
    }

    .choice-area {
        text-align: left;
        padding: 10px 10px;
        font-size: 1.1em;
    }

    .choice-ans {
        font-size: 1.2em;
        line-height: 1.3em;
    }

    #menu-hack {
        z-index: 9999;
        position: absolute;
        float: right;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        right: 0;
        margin: 18% 5%;
    }

    #bulb-front {
        display: none;
    }

    #owl-graph {
        position: relative;
        width: 110px;
        margin: 20px 0 0 0;
    }

    .left-section-header {
        width: 100%;
        text-align: center;
        font-size: 2em;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 15% 0 15% 0;
    }

    .col-md-xxc {
        width: 98% !important;
    }

    .col-md-xxc .card .card-body {
        padding: 30px 30px !important;
    }

    .prev-btn {
        left: -5%;
    }

    .next-btn {
        right: -2%;
    }

    #menu-hack li a {
        background-color: #00b29a;
        color: #fff;
        padding: 8px 10px;
        margin-left: 15px;
        -webkit-box-shadow: #857979a3 1px 1px 6px;
        box-shadow: #857979a3 1px 1px 6px;
    }

    .lms-img {
        width: 100%;
        height: 40%;
    }

    .lms-details, .lms-right-col {
        width: 100%;
    }

    .lms-details {
        padding: 0;
    }

    .lms-desc {
        margin: 0;
        padding: 10px;
        width: 100%;
        line-height: 1.2em;
    }

    .lms-details h2 {
        font-size: 2.5em;
        text-align: center;
        margin: 0 0 10px 0;
    }

    .lms-features {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 10px auto;
        text-align: center;
    }

    .lms-feature {
        width: 70px;
        margin-right: 10px;
    }

    .lms-feature .name {
        font-size: 1em;
        padding: 0;
    }

    .lms-feature .sym {
        font-size: 1.6em;
    }

    .testinomial {
        margin-bottom : 10px;
    }

    .testinomial .img {
        width: 30%;
    }

    .testinomial .img img {
        max-width: 100%;
    }

    .testinomial {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .testinomial .info {
        width: 70%;
        padding: 0 0 5px 0;
    }

    .testinomial .name {
        padding: 5px 10px;
    }

    .testinomial .comment {
        padding: 0px 5px;
        font-size: .85em;
        color: #423838;
    }

    .success-story-desc .header, .team .header {
        font-size: 2em;
        width: 100%;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 7% 10%;
    }

    .team .img img {
        position: relative;
        width: 100%;
        z-index: -999;
    }

    .member {
        border: 1px solid #ddd;
        margin: 0 0 10px 0;
    }

    .list-courses {
        width: 100%;
        max-width: 100%;
        margin-left: 0 !important;
        /* padding: 0 20px; */
    }
}
