.green {
    color: #009688;
}

.red {
    color: #E91E63;
}

.bg-orange {
    background-color: #FF9800 !important;
}

.bg-green {
    background-color: #009688 !important;
}

.bg-purple {
    background-color: #9C27B0 !important;
}

.bg-red {
    background-color: #F44336 !important;
}

.col-head {
    position: relative;
    padding: 15px 0 15px 15px;
    font-size: 1.25em;
    background-color: white;
    color: #3b3939;
}

.col-head p {
    margin-bottom: 0;
}

.col-head p > span {
    padding: 0 0 0 5px;
}

.prev-article {
    padding: 10px 10px 10px 15px;
}

.prev-article:nth-child(odd) {
    background-color: #f1f1f1;
}

.prev-article:nth-child(even) {
    background-color: #dddddd;
}

.prev-article .name {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #474646;
}
.prev-article a {
    color: inherit;
}

.prev-article .name:hover {
    cursor: pointer;
    color: #000000c7;
}

.prev-article .tags {
    margin-bottom: 5px;
}
.pre-head {
    padding: 25px 0 25px 15px;
}
.pre-head p {
    font-size: 1.2em;
}

.pre-container {
    margin-top: 50px;
}
.prev-article .tags .tag {
    font-size: 0.8em;
    background-color: #673AB7;
    color: #ffffff;
    padding: 1px 10px 3px 10px;
    width: fit-content;
    border-radius: 15px;
    text-transform: uppercase;
}

.header-inp {
    width: 80%;
}

.head-inp {
    border-radius: 0px;
    height: 55px;
    font-size: 1.2em;
}
.head-inp::placeholder {
    color: #0000007a;
}
.sub-article {
    position: absolute;
    height: 55px;
    font-size: 0.9em;
    bottom: 30px;
    right: 0;
    width: 18%;
    border-radius: 0px;
}

label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.select2-selection {
    border-radius: 0px !important;
    border-color: #ced4da !important;
}
.form-control {
    border-radius: 0px !important;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.details.d-flex.justify-content-between {
    font-size: 0.95em;
}
p.no-articles-msg {
    font-size: 2em;
    padding: 30px 0 0 15px;
    color: #19171747;
}