body {
    font-family: 'Karla', sans-serif !important;
    height: 100vh;
    background: #eaeaea;
}

.container-fluid {
    padding-bottom: -25px;
}

button#f-screen {
    display: none;
}

footer {
    margin-top: auto;
}

.height-full {
    /* height: -webkit-fill-available; */
}

.adjust-padd {
    padding: 7px;
}

.padding-0 {
    padding: 0 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-blue {
    background-color: #2b2b8e;
}

.bg-blue-light {
    background-color: #03A9F4 !important;
}

.black {
    color: #000 !important;
}

.blue {
    color: #2b2b8e !important;
}

.fff {
    color: #fff !important;
}

.margin-0 {
    margin: 0 !important;
}

.bg-grey {
    background-color: #eaeaea !important;
}

.tag {
    padding: 2px 8px;
    position: relative;
    border: solid 1px;
    margin: 10px 10px 10px 10px;
    border-color: #03a9f4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
}

.tag:before {
    content: "";
    position: absolute;
    top: 6px;
    left: -15px;
    border-top: solid 7px transparent;
    border-bottom: solid 7px transparent;
    border-left: solid 7px transparent;
    border-right: solid 7px #03a9f4;
}

.tag:active {
    border-color: #6e9cb1;
    box-shadow: 1px 1px 1px 1px #6e9cb1;
}

.tag2 {
    padding: 2px 8px;
    position: relative;
    border: solid 1px;
    margin: 10px 10px 10px 10px;
    border-color: #2b2b8e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
}

.tag2:before {
    content: "";
    position: absolute;
    top: 6px;
    left: -15px;
    border-top: solid 7px transparent;
    border-bottom: solid 7px transparent;
    border-left: solid 7px transparent;
    border-right: solid 7px #2b2b8e;
}

.tag2:active {
    border-color: #2b2b8e;
    box-shadow: 1px 1px 1px 1px #2b2b8e;
}

p.margin-0.tag-text {
    font-size: 0.95em;
}

p#time-clock {
    height: 100%;
    font-size: 2em;
}

.notice-area {
    padding: 10px 0 0 0;
}

.test-type-info {
    box-sizing: border-box;
    padding: 0 0 0 5px;
    width: 100%;
}

span#test-type-name {
    font-weight: 600;
}

span#note-prob {
    font-size: 1.2em;
    padding: 2px 3px;
    color: #dc0c0c;
    font-weight: 600;
}

/*----------------BUTTONS------------*/
.classic-btn {
    cursor: pointer;
    border: none;
    /* background: #ab2e2e00; */
    background-color: #8a7e7e;
    padding: 8px 18px;
    border-radius: 50%;
    font-weight: 600;
    margin: 10px 15px 0 0;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 9px solid #fff;
    border-right: 9px solid #fff;
    border-top: 18px solid #555;
}

.classic-btn:focus {
    outline : none;
}

.index-btn {
    padding: 2px 12px;
    margin: 7px;
    max-width: 31px;
    max-height: 28px;
}

.normal:hover {
    background: #b1a7a7;
    color: #fff;
}

.visited {
    background-color: #26d026;
}

.not-answered {
    border-left: 25%;
    border-right: 25%;
    border-top: 50%;
    background-color: rgb(218, 255, 9);
}

.to-review {
    background-color: #9C27B0;
}

.review-but-answered {
    background-color: #FFC107;
}

.normal {
    background-color: #ddd;
}

.answered-to-review.classic-btn {
    background: linear-gradient(180deg, #2ae42a 50%, #ab2bc1 50%);
}

p.index-label {
    margin: 0;
    padding: 8px 10px 0 0;
    font-size: 0.92em;
    font-weight: 600;
    color: #3e3b3b;
}

.btn-class {
    cursor: pointer;
    margin: 0 5px 0 5px;
    padding: 4px 13px;
    border: none;
    color: #fff;
}

.btn-class:focus {
    outline: none;
}

.sub-btn {
    background-color: #178e1b;
    border-radius: 5px;
}

#submit-btn-2 {
    /* margin: 5% 3% 0 0; */
    margin-top: 5%;
    margin-right: 12%;
}

.next-btn, .pre-btn {
    background-color: #9C27B0;
    border-radius: 5px;
}

.btn {
    background-color: #9C27B0;
    border-radius: 5px;
}

#review-btn {
    margin-right: 0;
    background-color: rgb(114, 109, 109);
}

#clear-response-btn {
    background-color: rgb(114, 109, 109);
    margin-right: auto;
}

.pre-btn:hover,.next-btn:hover,.btn:hover {
    background: #6b1779;
}

.sub-btn:hover {
    background: #0a6b0a;
}

.visited:hover {
    background: #1ca91c;
    color: #fff;
}

.not-answered:hover {
    border-left: 25%;
    border-right: 25%;
    border-top: 50%;
    background: #d9ff00;
    color: #fff;
}

.to-review:hover {
    background: #711d80;
    color: #fff;
}

.answered-to-review:hover {
    background: linear-gradient(180deg, #1ca91c 50%, #711d80 50%);
    color: #fff;
}

/*-----------------------------------*/
.question-button-container {
    background-color: #fff;
    height: 300px;
    overflow-y: scroll;
}

p.question-number-text.margin-0 {
    font-size: 1.6em;
    font-weight: 600;
}

span#question-number {
    font-size: 1.6em;
}

.test-q-a-contain {
    padding: 15px;
    font-size: 1.17em;
    /* background: rebeccapurple; */
    min-height: 64vh;
    /* overflow-y: scroll; */
    max-height: 64vh;
}

.test-question {
    /* font-size: 1.2em; */
    color: black;
}

.btns {
    padding: 10px 0 0 0;
}

.padding-10 {
    padding: 10px !important;
}

.answers {
    margin: 10px 0 0 0;
}

label {
    display: block;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 20px 0 0 40px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    overflow-y: auto;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

/*set class for side view buttons for seprating a section set*/
.set {
    margin-top: 5px;
    width: 100%;
    display: block;
    font-weight: bold;
}

.tag:hover {
    cursor: pointer;
}

#marks {
    /* margin-left: auto; */
    /* display: inline-block; */
    margin-left: 30% ;
}

@media(max-width : 1300px) {
    #marks {
        margin-left:10% ;
    }
}

@media(max-width : 1000px) {
    #marks {
        display: block;
        margin-left: 0% ;
    }
}

#user_id,#user_img {
    display: inline-block;
}

#user_img img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

#submit-btn:disabled {
    background-color: rgb(124, 133, 124);
}

/*TOAST FOR 5min warning*/
#toast {
    visibility: hidden;
    width: 400px;
    height: 100px;
    background-color: rgb(226, 241, 10);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    text-align: center;
    font-size: 300%;
    padding-top: 40px;
    position: fixed;
    z-index: 10;
    left: 35%;
    top: 5px;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, shake 0.5, fadeout 3.5s;
    animation: fadein 0.5s, shake 0.5s, fadeout 3.5s;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 5px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 5px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 5px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 5px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

/* MARKS STATEMENT */
.question {
    width: 97%;
    margin-right: auto;
}

.marks-sec {
    margin-left: auto;
}

.sub-btn {
    margin-left: auto;
}

.red {
    color: rgb(196, 35, 35);
}

#positive {
    color: rgb(37, 145, 37);
}

#negative {
    color: rgb(190, 27, 27);
}

.active {
    background-color: rgb(21, 240, 229);
}

.inactive {
    background-color: rgb(233, 133, 19);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width: 400px;
    margin-left: -125px;
    border-radius: 2px;
    padding: 10px 20px;
    position: absolute;
    background-color: #ffc107;
    z-index: 1;
    left: 45%;
    top: 30px;
    font-size: 17px;
    color: #000;
    display: flex;
    border-radius: 5px;
}

#excl {
    font-size: 2em;
    font-weight: bold;
    padding: 10px 10px;
    color: red;
}

#p-num {
    font-size: 1.2em;
}

#snackbar-text {
    padding: 5px 0px 0px 10px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, shake 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, shake 0.5s, fadeout 0.5s 2.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.test-loading , .test-error{
    position: absolute;
    top: 0;
    right:0;
    left:0;
    bottom:0;
    z-index: 999;
    background-color: #fff;
}
.test-loading .middle, .test-error .middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}