body{

  /*background:url(images/background.jpg) repeat-x; */ background-color: #CCCCCC;

  margin-top:0px;

}





#container

{

  margin-top:-2%;

}

.header

{

    background:#CCCCCC url("images/header.png") repeat-x;

    height:8em;

    margin-top:0px;

    margin-bottom:-1.2em;

}

.headtext

{

    padding:10px 0 0 0;

    font-size:200%;

    color:#ffffff;

    line-height:2em;

    letter-spacing:3px;

    font-weight:bolder;

 }

.page

{

    background: url("images/page.gif") repeat;

   

}

.menubar

{

     background:#f4b730;

     height:2.5em;

}

.subbtn

{

    font-family:verdana,arial,geneva;

    background:#ffffff url("images/btn.jpg");

    font-size:1em;

    color:#ffffff;

    border-color:#ffffff;

    border-width:4px;

    border-style:outset; 

    height:40px;

    width:auto;

    padding-left:2px;

    padding-right:2px;

   

}

.subbtn:hover

{

    cursor:pointer;

}

.ssubbtn

{

    font-family:verdana,arial,geneva;

    background:#ffffff url("images/btn.jpg");

    font-size:0.8em;

    color:#ffffff;

    border-color:#ffffff;

    border-width:4px;

    border-style:outset;

    height:25px;

    width:auto;

    padding-left:2px;

    padding-right:2px;



}

.ssubbtn:hover

{

    cursor:pointer;

}



table

{

    border:0;

    background:#f5f9f4;

    font-family:verdana,sans-serif;

    font-size:1.1em;

    margin-left:auto;

    margin-right:auto;

    text-align:center;

 }

.btn {

    text-decoration:none;

    text-align:center;

    background:url("images/img12.jpg") repeat-x;

    color:#ffffff;

    font-family:verdana,sans-serif;

    font-size:1.3em;

    font-weight:bold;

    padding:4px 4px 4px 4px;

    border-color:#ffffff;

    border-width:5px;

    border-style:solid;

    margin-bottom:0;

 }



  #menu li{

      list-style-type:none;

      display:inline;

      float:right;

 }



  #footer

  {

      background:url(images/footer.png) repeat-x;
	  

      height:8em;

      color:#ffffff;

      text-align:center;

      padding:10px 5px 5px 5px;

      font-family:verdana,sans-serif;

      font-size:1em;

  }



  .message

  {

      width:89%;

      margin:5px 6% -5px 5%;

      /*background:#ffcccc;*/

      color:#ff0000;

	  float:right;

      font-size:1.5em;

      padding:2px 5px 2px 5px;

  }



  .admpage

  {

      background:transparent;

      margin-left:auto;

      margin-right:auto;

      text-align:center;

     

  }

 .btmimg

 {

     z-index:40;

     position:relative;

     opacity: 0.55;

    filter:alpha(opacity:55);

	-moz-opacity:0.55;

	-khtml-opacity: 0.55;

 }

 .topimg

 {

     z-index:100;

     left:20%;

     right:20%;

     text-align:center;

     position:absolute;

     top:30%;

     bottom:10%;

     opacity:0.9;

     filter:alpha(opacity:90);

	-moz-opacity:0.9;

	-khtml-opacity: 0.9;

 }

        

  /* tooltip */

 a.tt{

    position:relative;

    z-index:24;

    color:#3CA3FF;

	font-weight:bold;

    text-decoration:none;

}

a.tt span{ display: none; }



/*background:; ie hack, something must be changed in a for ie to execute it*/

a.tt:hover{ z-index:25; color: #aaaaff; background:#fff;}

a.tt:hover span.tooltip{

    display:block;

    position:absolute;

    top:0px; left:0;

	padding: 15px 0 0 0;

	width:200px;

	color: #993300;

    text-align: center;

	filter: alpha(opacity:90);

	-moz-opacity:0.9;

	-khtml-opacity: 0.9;

	opacity: 0.90;

}

a.tt:hover span.top{

	display: block;

	padding: 30px 8px 0;

    background: url("images/bubble.gif") no-repeat top;

}

a.tt:hover span.middle{ /* different middle bg for stretch */

	display: block;

	padding: 0 8px;

	background: url("images/bubble_filler.gif") repeat bottom;

}

a.tt:hover span.bottom{

	display: block;

	padding:3px 8px 10px;

	color: #548912;

    background: url("images/bubble.gif") no-repeat bottom;

}



.datatable {

border: 1px solid #D6DDE6;

border-collapse: collapse;

text-align:left;

width: 100%;

font-size:1em;

}

.datatable td {border: 1px solid #D6DDE6;

padding: 0.3em;



}

.datatable .tddata

{

    text-align:center;

    margin-left:auto;

    margin-right:auto;

}

.tddata a:link,.tddata a:visited{

     color:white;

     text-decoration:none;

}

.tddata a:hover,.tddata a:active{

    color:white;

    text-decoration:none;

}



.datatable th {

border: 1px solid #828282;

background-color: #ffcccc;

font-weight: bold;

text-align:left;

padding-left: 0.3em;



}

.datatable tr{

background-color: #ffffee;

color: #000000;

}

.datatable tr .alt{

background-color: #ffeeee;

color: #000000;

}

.datatable tr:hover {

background-color: #ccccff;

color: #000000;

}



.help

{

    background-color:#ff99cc;

    color:#ffffff;

    font-size:0.6em;

    font-weight:bolder;

    padding:2%;



}



.pmsg

  {

      width:98.8%;

      margin:0;

      background:#ffffcc;

      color:#cc0000;

      font-size:1.2em;

      padding:2px 5px 2px 5px;

      



}

  .aclass 

{

    font-family:verdana,arial,geneva;

    background:#ffffff url("images/btn.jpg");

    font-size:1em;

    color:#ffffff;

    border-color:#ffffff;

    border-width:4px;

    border-style:outset;

    width:auto;

    height:28px;

    padding:6px 2px 1px 2px;

    

}

.aclass a:link,.aclass a:visited,aclass:hover,a:active

{

    text-decoration:none;

    color:#ffffff;

}



.tc

{

    /*background:url("images/bg_form.gif");*/

    font-family: Arial,Helvetica,sans-serif;

    font-size: 14px;

    font-weight: bold;

}

.timerclass

{

   /* background-color: #ccffff;*/

     background:url("images/bg_form.gif");

    font-family: Arial,Helvetica,sans-serif;

    font-weight: bold;

    color: #af0a36;

    border-right-style: ridge;

    border-left-style: ridge;

    border-bottom-style: ridge;

    border-top-style: ridge;

    padding:1px 2px;

    font-size:90%;

    

}



.ntab

{

    text-align:left;

}

.ntab td

{

    color: #af0a36;

    padding:1px 2px 1px 2px;

}

#stdpage

{

    padding:15px;

    margin: 25px;

}



#stdpage table

{

    padding: 25px;

	font:'Monotype Corsiva'; 

	font-family:'Monotype Corsiva'; 

	font-size:30px;

}



#stdpage table tr th a

{

    text-decoration: none;

    color:  #4c4c4c;

}

#stdpage table tr th

{

    padding: 10px 5px;

}

#stdpage table tr th:hover 

{

    background-color:#CCCCCC;

    color: #000000;

}

#lpanel table

{

    width:100px;

    background-color: white;

}

#lpanel table tr td{

    padding: inherit;

    cursor: pointer;

    

}

.sel

{

    border:2px solid black;

    

}

#form-0 table tr td{

    padding: 5px 5px;

}

#form-0 table{

    margin-top: 5px;

    padding-top: 5px;

}

#res_box table{

    padding:3px;

    text-align: left;

    width:400px;

}

#res_box table tr td,th{

    padding:5px;

    

}

.selected{

    background-color: #33ff33;

}

.testselected{

    background-color: #33ff33;

}





#overlay {

    position: absolute;

    top:0;

    left:0;

    bottom:0;

    right:0;

    width:100%;

    height:100%;

    z-index:998;

    background-color: Black;

	opacity:0.9555;

}



#popup {

    position: absolute;

    width:50%;

    height:70%;

    margin:5% 25%;

    background-color:#FFFFFF;

    z-index: 999;

}

#din table  tr:hover{
	
	background-color:black;
	color:white;
}

#setTab table tr th {
	font-size:18px;
	font-weight:normal;
}
