.dd::-webkit-scrollbar {
    width: 0.25em;
}
 
.dd::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.dd::-webkit-scrollbar-thumb {
   border-radius: 4px;
  background-color: #736b6b;
  outline: 1px solid slategrey;
}
.article-content img {
    /* width: 100% !important; */
    height: auto;
    padding: 0 20px 0 0;
}
.article-head {
    font-size: 2.3em;
    padding: 20px 0 0 0;
    text-align: left;
    text-transform: capitalize;
    line-height: 1.3em;
}

.article-head .tags .tag {
    display: inline-block;
    /* padding: 0 0 0 0; */
    font-size: 0.45em;
    color: #fff;
    padding: 0px 15px 0px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    margin-right: 5px;
    line-height: 2em;
}

span.tag.bg-red {}

.bg-purple {
    background-color: #9C27B0;
}

.bg-blue {
    background-color: #3F51B5;
}

.bg-orange {
    background-color: #FF9800;
}

.bg-red {
    background-color: #E91E63;
}

.bg-green {
    background-color: #4CAF50;
}

.col-head {
    dispaly: inline-flex;
    text-align: left;
    padding: 20px 0 0 0;
}

.col-head span {
    font-size: 1.6em;
    margin-left: 10px;
    vertical-align: middle;
}

.col-head #a-img {
    max-height: 60px;
}

.article {
    margin-bottom: 10px;
    color: #615545;
}

.article .name a {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
}

.article .details .date {
    margin-right: 10px;
}

.article .name a:hover {
    color: #000000;
    cursor: pointer;
}

.fix {
    position: fixed;
    z-index: 1030;
    width: 23%;
    padding: 0;
    top: 10px;
    max-height: 100%;
    overflow-y: auto;
}

.fix .col-head {
    padding-top: 0;
}

.navbar-brand img {
    max-height: 80px;
}

.list-courses .card {
    height: 370px;
    max-height: 378px;
}

.card:hover {
    -webkit-box-shadow: 3px 4px 10px #dedede;
    box-shadow: 3px 4px 10px #dedede;
    cursor: pointer;
}

.left-section-header {
    height: 60vh;
    width: 35%;
    background-color: #343a40;
    color: #fff;
    font-size: 3.2em;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 1.3em;
    padding: 5% 4%;
}

.list-courses {
    width: 100%;
    max-width: 60%;
    margin-left: 40px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000 !important;
    background-color: transparent;
    border-bottom: solid 4px #2c2929;
    border-radius: 0px;
}

a.nav-link {
    color: #191212
}

.list-courses .card-img-top {
    height: 150px;
}

ul#pills-tab {
    border-bottom: solid 0.5px #cccccc;
}

.col-md-xxc {
    margin-right: 2%;
    width: 30%;
}

.sm-icon {
    font-size: 12px;
}

.list-courses .card-title {
    padding: 0 0 5px 0;
    font-weight: 500;
    color: #383434;
    /*border-bottom: 1px solid #ddd;*/
    line-height: 1.2em;
    height: 40px;
    min-height: 40px;
    margin-bottom: 0;
}

.inf {
    font-size: 15px;
    color: #312f2f;
    padding: 5px 0 5px 0;
    height: 30px;
}

.course-ratings {
    padding: 5px 0 0 0;
    font-size: 20px;
}

.stars i {
    margin-right: 0px;
    color: #ffc107;
    padding: 0;
}

.add-to-wishlist i {
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.price-details {
    margin: 25px 0 0 0;
    position: relative;
}

.was-price {
    color: #635c5c;
    font-size: 14px;
    padding: 2px 5px;
    text-decoration: line-through;
}

.is-price {
    color: #1c1a1a;
    font-size: 1.3em;
}

.details {
    background-color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}

.enroll-btn {
    background-color: #EC5252;
    border: none;
    color: #fff !important;
    padding: 5px 15px;
    font-weight: 100;
    font-size: 1.1em;
    cursor: pointer;
    margin-left: 5px;
}

.enroll-btn:hover {
    text-decoration: none;
    background-color: #ad3c3c;
}

.enroll-btn:focus {
    outline: none;
}

.course {
    padding: 20px;
    margin-bottom: 20px;
}
.card-title {
    font-size: 1.3em;
}
.courses {
    padding-top: 20px;
}
.nav-btn {
    margin: 0 15px 0 0;
    background-color: #00b29a;
    color: #fff !important;
    padding: 10px 20px;
    -webkit-box-shadow: #857979a3 1px 1px 6px;
    box-shadow: #857979a3 1px 1px 6px;
    width: 100px;
    text-align: center;
}

.nav-btn:hover {
    background-color: #e85e53;
    text-decoration: none;
    border: none;
    -webkit-box-shadow: #897b7b21 1px 1px 3px;
    box-shadow: #897b7b21 1px 1px 3px;
}
#navbarsExample09 {
    margin: 0 3% 0 0;
}


.container- {
    position: relative;
    margin: auto;
    //top: 0;
    //left: 0;
    right: 0;
    //bottom: 0;
    width: fit-content;
    height: fit-content;
}

.container- .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.container- .search:hover {
    cursor: pointer;
}

.container- .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000000;
    transition: all .5s;
}

.container- .search:hover {
    cursor: pointer;
}

.container- .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 15px;
    right: 0;
    bottom: 0;
    left: 19px;
    width: 12px;
    height: 2px;
    background: #000000;
    transform: rotate(45deg);
    transition: all .5s;
}

.container- input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: -50px;
    bottom: 0;
    /* left: 0; */
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: white;
    color: black;
   
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 3px 0 #1f1b1c, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
}

.container- input:hover {
    cursor: pointer;
}

.container- input:focus {
    width: 500px;
    opacity: 1;
    cursor: text;
}

.container- input:focus ~ .search {
    right: 550px;
    background: #ffffff;
    z-index: 6;
}

.container- input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.container- input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: black;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.container- input::placeholder {
    color: black;
    opacity: 0.5;
    font-weight: bolder;
}
