
.form-control {
    border: 1px solid #807b7b;
    font-family: "Poppins", sans-serif;
    font-size: 0.85rem;
    padding: 0.56rem 0.75rem;
    line-height: 14px;
    font-weight: 400;
}

.course-head label {
    font-size: 1em;
    margin: 0;
}

.course-chapter {
    margin: 10px 0 10px 0;
}

.course-chapter .title {
    padding: 0 0 0 3%;
}

.course-chapter .body {
    padding: 0 0 0 8%;
}

.course-chapter  .title  label {
    font-size: 0.89em;
    margin: 0;
}

.lesson-title {
    margin: 5px 0 0 5px;
}

.lesson-title label {
    font-size: .85em;
    margin: 0;
}

.r label {
  font-size: 0.75em;
  margin: 0;
}
.add-entity {
    border: none;
    color: #fff;
    background: #00ce68;
    padding: 8px 15px;
    margin: 5% 0 0 3%;
    font-size: 0.97em;
    cursor: pointer;
    outline: none
}

#ls-add {
    background-color: #ffa400;
}

.trash-bin {
    padding-top: 5%;
    font-size: 1.2em;
    text-align: right;
}

.trash-bin:hover {
    color: #c31d1d;
    cursor: pointer;
    animation: shake 0.5s;
  	animation-iteration-count: 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.add-resource {
  margin-top: 1.5em;
  font-size: 1.3em;
  cursor: pointer;
}

.r {
  padding-left: 8%;
  padding-bottom: 1%;
}
.file-upload-r {
  display: none;
}