.cat-text {
    width: 50%;
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.sub-cat-display {
    background: #fff;
    padding: 20px 30px;
    border-bottom: 1px solid #e0e0e0;
    min-height: 100px;
    min-width: 200px;
}

.null-cat {
    font-size: 0.8em;
    font-weight: normal;
}

.del-sub-cat, .del-cat {
    cursor: pointer;
    margin-left: 5px;
}

.form-control {
    border-color: #00000069 ;
    font-size: 1.05em;
    color: #000;
}

.new-cat-container {
    border: 1px solid #bdb6b6;
    border-radius: 5px;
    padding: 20px 30px;
}

.add-sub-cat {
    font-size: 0.9em;
    color: #9a9a9a;
    cursor: pointer;
}

.add-sub-cat:hover {
    font-size: 1em;
}

.in {
    width: 80%;
    display: flex;
    height: 35px;
}

.sub-cat-add-btn {
    font-size: 1.5em;
    color: green;
    margin-left: 5px;
    cursor: pointer
}

span#cat-save-msg {
    margin-left: 10px;
    font-size: 0.9em;
    color: orange;
}

.new-cat > * {
    background: #ffeb3b26;
}
